body {
    padding: 20px;
}
.ft-20 {
    font-size: 20px;
}

.full-width {width: 100% !important;}

.bold {font-weight: bold !important;}
.normal {font-weight: normal !important;}
.lighter {font-weight: lighter !important;}


.data-display .data-values > h2 {
    font-weight: lighter;
}
.data-display .data-labels {
    text-align: right;
}


a.download {
    cursor: pointer;
}

.header-select {
    padding-top: 30px;
}
a.show-total {
    margin-right: 20px;
    cursor: pointer;
}

#flash-messages {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 500px;
}
