body {
    padding: 20px;
}
.ft-20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.data-display .data-values > h2 {
    font-weight: lighter;
}
.data-display .data-labels {
    text-align: right;
}


a.download {
    cursor: pointer;
}

.header-select {
    padding-top: 30px;
}
a.show-total {
    margin-right: 20px;
    cursor: pointer;
}
