td.type-call {
    font-weight: bold;
    color: rgb(0, 94, 158);
}
td.type-put {
    font-weight: bold;
    color: rgb(210, 76, 0);
}

table.table td, table.table th {
    text-align: center;
}

/* Subspan: */
td > span.subspan {
    font-size: 9px;
    color: #777;
}

/* Border Right, Border Left: */
th.br, td.br { border-right: 1px solid #ddd; }
th.bl, td.bl { border-left: 1px solid #ddd; }
