<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DJC - Data</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/table.css">
        <link rel="stylesheet" href="/static/css/callout.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>

        {% block head %}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
