{% extends '_base.html' %}

{% block head  %}
<style media="screen">

td.strike, tr.sub-headers td, tr.sub-types td {
    background: #3c4451;
    color: #ccdbe8;
    border: 1px solid #3c4451;
}

tr.expiration td {
    background: #4e5794;
    color: #ccdbe8;
    border-bottom: 1px solid #000000;
    font-size: 17px;
}

td.ask:hover {
    background: #aaf9aa75;
}
td.bid:hover {
    background: #f9aaaa75;
}
td.bid, td.ask {
    cursor: pointer;
}
tbody {
    background: #edf1f5;
}

</style>
{% endblock %}


{% block body %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">{{ tradable.name }}</li>
</ol>



<div class="page-header">
    <h1>{{ tradable.name }} Data</h1>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class='bold'>Last Update:</span> {{ fetchtime }}
    </div>
    <!-- <div class="panel-body">
        <p class='col-sm-4'>
            This is a random sample of {{ data | length }} data points taken on
            {{ fetchtime }}, sampled from the entire ladder of {{ tradable.name }}
            options.  The data set has been cut down to reduce loading time.
        </p>
    </div> -->

    <table class="table">
        <tbody>
            {% for expiration, strikes in chain %}
            <tr class='expiration'>
                <td colspan="9">{{ expiration }}</td>
            </tr>
            <tr class='sub-types'>
                <td colspan="4">Calls</td>
                <td></td>
                <td colspan="4">Puts</td>
            </tr>
            <tr class='sub-headers'>
                <td>Volume</td>
                <td>IV</td>
                <td>Bid</td>
                <td>Ask</td>
                <td>Strike</td>
                <td>Bid</td>
                <td>Ask</td>
                <td>IV</td>
                <td>Volume</td>
            </tr>
            {% for strike, put, call in strikes %}
            <tr>
                <td>{% if call %}{{ call.volume }}{% endif %}</td>
                <td>{% if call %}{{ call.volatility | round(1) }}%{% endif %}</td>
                <td class='bid'>{% if call %}{{ call.bid }}{% endif %}</td>
                <td class='ask'>{% if call %}{{ call.ask }}{% endif %}</td>
                <td class='strike'>{{ strike }}</td>
                <td class='bid'>{% if put %}{{ put.bid }}{% endif %}</td>
                <td class='ask'>{% if put %}{{ put.ask }}{% endif %}</td>
                <td>{% if put %}{{ put.volatility | round(1) }}%{% endif %}</td>
                <td>{% if put %}{{ put.volume }}{% endif %}</td>
            </tr>
            {% endfor  %}
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-center ft-20">...</p>


{% endblock %}
