{% extends '_base.html' %}
{% block body %}

<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1>TD API Data <small>({{ gigabytes }}GB)</small> </h1>
        </div>
        <div class="col-sm-4">
            <input class="form-control search-tradables" style="margin-top: 30px;" placeholder="Search Tradables...">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group tradables-list">
            {% for tradable in tradables %}
            <a href="/tradable/{{ tradable.id }}" class="list-group-item">
                {{ tradable.name }}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <a class="btn btn-default btn-lg full-width" href='/tokens'>
            Tokens
        </a>
    </div>
</div>


<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}
