{% extends '_base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">
{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% if fetchid %}
    <li><a href='/tradable/{{ tradable.id }}'>{{ tradable.name }}</a></li>
    <li class="active">{{ fetchtime }}</li>
    {% else %}
    <li class="active">{{ tradable.name }}</li>
    {% endif %}
</ol>



<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ tradable.name }} Data</h1>
        </div>
        <div class="col-sm-4 header-select">
            <select id='choose-fetch' class="form-control">
                {% for fetch in fetches %}
                <option value="/tradable/{{ tradable.id }}{% if loop.index != 1 %}/fetch/{{ fetch.id }}{% endif %}" {% if fetchid == fetch.id %}selected{% endif %}>
                    {{ fetch.cststring }} {% if loop.index == 1 %}(CURRENT){% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class='bold'>Fetched:</span> {{ fetchtime }}
        <a class="pull-right download">
            <span class="glyphicon glyphicon-download-alt"></span>
            Download
        </a>
    </div>
    <div class="panel-body">
        <p class='col-sm-4' style="display:none;">
            This is a random sample of {{ data | length }} data points taken on
            {{ fetchtime }}, sampled from the entire ladder of {{ tradable.name }}
            options.  The data set has been cut down to reduce loading time.
        </p>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="4" class='br'>Contract</th>
                <th colspan="7" class='br'>Market</th>
                <th colspan="4">Greeks</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>DTE</th>
                <th>Expiration</th>
                <th class='br'>Strike</th>
                <th>Price ({{ tradable.name }})</th>
                <th>ITM</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Impl. Vol</th>
                <th>OI</th>
                <th class='br'>Volume</th>
                <th>Delta</th>
                <th>Theta</th>
                <th>Rho</th>
                <th>Vega</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td class='type-{{ item.option.type | lower }}'>{{ item.option.type }}</td>
                <td>{{ item.dte }}</td>
                <td>{{ item.option.expiration }}</td>
                <td class='br'>{{ item.option.strike }}</td>
                <td>{{ item.underlying | round(2) }}</td>
                <td class="{% if item.itm %}text-success{% else %}text-danger{% endif %}">{% if item.itm %}ITM{% else %}OTM{% endif %}</td>
                <td>{{ item.bid }} <span class='subspan'>{{ item.bidsize }}</span> </td>
                <td>{{ item.ask }} <span class='subspan'>{{ item.asksize }}</span> </td>
                <td>{{ item.volatility | round(1) }}%</td>
                <td>{% if item.openinterest != None %}{{ item.openinterest }}{% endif %}</td>
                <td class='br'>{{ item.volume }}</td>
                <td class="{% if item.delta >= 0 %}text-success{% else %}text-danger{% endif %}">{{ item.delta }}</td>
                <td>{{ item.theta }}</td>
                <td class="{% if item.rho >= 0 %}text-success{% else %}text-danger{% endif %}">{{ item.rho }}</td>
                <td>{{ item.vega }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-center ft-20">...</p>

<script type="text/javascript" src="/static/js/table.js"></script>
<script type="text/javascript" src="/static/js/selectize.min.js"></script>
<script type="text/javascript" src="/static/js/tradable.js"></script>

{% endblock %}
