{% extends '_base.html' %}
{% block body %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">{{ tradable.name }}</li>
</ol>



<div class="page-header">
    <h1>{{ tradable.name }} Data</h1>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class='bold'>Last Update:</span> {{ fetchtime }}
    </div>
    <div class="panel-body">
        <p class='col-sm-4' style="display:none;">
            This is a random sample of {{ data | length }} data points taken on
            {{ fetchtime }}, sampled from the entire ladder of {{ tradable.name }}
            options.  The data set has been cut down to reduce loading time.
        </p>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="4" class='br'>Contract</th>
                <th colspan="6" class='br'>Market</th>
                <th colspan="4" class='br'>Greeks</th>
                <th></th>
            </tr>
            <tr>
                <th>Type</th>
                <th>DTE</th>
                <th>Expiration</th>
                <th class='br'>Strike</th>
                <th>Price ({{ tradable.name }})</th>
                <th>ITM</th>
                <th>Bid <span class='subspan'>OI</span></th>
                <th>Ask <span class='subspan'>OI</span></th>
                <th>OI</th>
                <th class='br'>Impl. Vol</th>
                <th>Delta</th>
                <th>Theta</th>
                <th>Rho</th>
                <th class='br'>Vega</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td class='type-{{ item.option.type | lower }}'>{{ item.option.type }}</td>
                <td>{{ item.dte }}</td>
                <td>{{ item.option.expiration }}</td>
                <td class='br'>{{ item.option.strike }}</td>
                <td>{{ item.underlying | round(2) }}</td>
                <td class="{% if item.itm %}text-success{% else %}text-danger{% endif %}">{% if item.itm %}ITM{% else %}OTM{% endif %}</td>
                <td>{{ item.bid }} <span class='subspan'>{{ item.bidsize }}</span> </td>
                <td>{{ item.ask }} <span class='subspan'>{{ item.asksize }}</span> </td>
                <td>{% if item.openinterest != None %}{{ item.openinterest }}{% endif %}</td>
                <td class='br'>{{ item.volatility | round(1) }}%</td>
                <td class="{% if item.delta >= 0 %}text-success{% else %}text-danger{% endif %}">{{ item.delta }}</td>
                <td>{{ item.theta }}</td>
                <td class="{% if item.rho >= 0 %}text-success{% else %}text-danger{% endif %}">{{ item.rho }}</td>
                <td class='br'>{{ item.vega }}</td>
                <td><a href="/tradable/option/{{ item.id }}">{{ item.option.symbol }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="text-center ft-20">...</p>


{% endblock %}
